* {
  margin: 20%;
  padding:0;
  box-sizing: border-box;
  background-color: #7a86cb;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 8px;
  font-weight: 300;
}

 div {
  width: 250px;
  height: 50px;
  position: relative;
  border: 2px solid transparent;
}

input[type="text"] {
  outline: none;
  background-color: #383E5E;
  width: 250px;
  height: 50px;
  border: 2px solid #7a86cb;
  border-radius: 5px;
  color: #ffffff;
  padding-left: 10px;
}

label {
  color: white;
  display: block;
  position: absolute;
  margin: 70px 60px;
  z-index: 4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 35%;
  transition: all 1s ease;
}

input[type="text"]:focus {
  border: 2px solid #0027ff;
  color: #49517b;
  background-color: transparent;
  transition: 1s ease;
}

input[type="text"]:valid {
  background-color: transparent;
  border: 2px solid #383E5E;
}

input[type="text"]:focus + label,
input[type='text']:valid + label{
  top: 100%;
  right: 0;
  margin-top: -4.2px;
  margin-right: 0;
}

input[type="text"]:focus + label {
  color: #0027ff;
}

input[type='text']:valid + label {
  color: #383E5E;
}

input[type="text"]:focus + label:after,
input[type="text"]:valid + label:after {
  content:'';
  width: 90px;
  height: 2px;
  top: 5px;
  bottom:0px;
  left: -2px;
  right: 0px;
  position: absolute;
  display: block;
  background: #7a86cb;
  margin-top: 2px;
  z-index:-499;
}
